.formulario-cadastro {
  max-width: 60%;
  margin:  8px auto 8px auto ;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: white;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f9;
  
}
.linha {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}

.coluna, .coluna-50 {
    flex: 1;
    min-width: 200px;
}

.coluna-25 {
    flex: 0 0 25%;
    max-width: 25%;
    min-width: 100px;
}

.label-campo {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input-campo {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.input-campo:focus {
    border-color:  var(--cor-botao);;
    outline: none;
}

.texto-ajuda {
    font-size: 0.8rem;
    color: #777;
    margin-top: -5px;
    padding-bottom: 10px;
}

.btn-principal {
    background:  var(--cor-botao);;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 15px;
}

.btn-principal:hover {
    background: #0056b3;
}

.btn-acao, .btn-cancelar, .btn-salvar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 0px 15px 0px;
}

.btn-cancelar{
    background-color: #f44336; /* vermelho */
}

.btn-cancelar:hover {
    background-color: #d32f2f; /* vermelho mais escuro */
}

.btn-acao .btn-principal {
    flex: 1; /* cada botão ocupa metade do espaço disponível */
}

.numero-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.numero-wrapper .input-campo {
    flex: 1;
}

.numero-wrapper .remove-btn {
    position: static;   /* deixa de ser absoluto */
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: 50%;
    margin-left: 5px;
}

.address-container, .card-container {
    position: relative; /* necessário para o botão absoluto */
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #f9f9f9; /* mesma cor do endereço */
}

#btnBuscarCep {
  background-color:  var(--cor-botao);
  color: white;
  border: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 3px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#btnBuscarCep:hover {
  background-color: #0056b3;
}

#btnBuscarCep i {
  color: white;
  padding-top: 2px;
  font-size: 20px;
}

.cepInputGroup {
  display: flex;
}

.cepInputGroup input {
  flex: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


  

  .botoes-cancelar {
    display: flex;
    justify-content: center;
    gap: 10px; 
}
  .btn-nao, .btn-sim{
    margin: 10px 0px 0px 0px;
  }

  .btn-nao{
    background-color: red;
  }

  .btn-nao:hover{
    background-color: darkred;
  }
  