/* Carrossel */
.carousel {
  width: 100%;
  max-width: 100vw;
  height: auto;
  position: relative;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.slides {
  display: flex;
  width: 100%; /* proporcional ao número de slides */
  height: auto;
  transition: transform 0.8s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* Indicadores (bolinhas) */
.indicators {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: var(--cor-botao);
}

/* Layout com filtros e livros */
.content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  width: 100%;
  padding: 30px 0 ;
  flex: 1;
  min-height: 0;
}

.filters {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  background: #f9f9f9;
  width: 100%;
  height: 800px;
}

.filters h2 {
  margin-bottom: 15px;
  color: #333;
}

.filter-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-group input[type="text"],
.filter-group input[type="number"] {
  width: 100%;
  padding: 6px 8px;
  margin-top: 5px;
  border: 1px solid var(--cor-borda);
  border-radius: 5px;
  outline: none;
}

.filter-price{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.filter-btn {
  width: 100%;
  padding: 10px;
  background-color: var(--cor-botao);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

.filter-btn:hover {
  background-color: darkblue;
}

.books {
  margin: 0 10px;
  width: 100%;
  padding: 15px;
}

.books h2 {
  margin-bottom: 20px;
  padding: 0 4% ;
  font-size: 36px;
  text-align: left;
}

.container-books {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.book-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 240px;
  align-items: center;
  max-width: 240px;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  gap:6px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
  margin-bottom: 2rem ;
}

.book-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.book-card img {
  width: 80%;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
}

.book-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: start;
  padding: 20px;
}

.book-name{
  height: 35px;
}

.preco-card{
    font-size: 16px;
    color: var(--cor-botao);
    font-weight: 1000;
}

.comprar-btn {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  color: var(--cor-botao);
  font-weight: bold;
  border: 2px solid var(--cor-botao);
  border-radius: 50px;
  cursor: pointer;
}

.comprar-btn:hover {
  background-color: var(--cor-botao);
  color: #fff;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background: #007BFF;
  color: white;
}

.pagination button:disabled {
  background: #ddd;
  cursor: not-allowed;
}

